/* @import url('../../node_modules/react-portal-hint/default.css"'); */
body {
  overflow-y: hidden;
}
.container {
  width: 1254px;
  margin: 0 auto;
}

.navbar-nav {
  background: #0034f2d4;
  text-align: center;
  height: 100vh;
  margin: 0rem;
  float: left;
  padding-right: 10px;
  padding-top: 14px;
  padding-left: 0;
 
}

.circle {
  height: 32px;
  background-color: #b5b5b526;
  width: 32px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: 8px;
}

.navbar .far,
.fas {
  color: #fff;
  font-size: 12px;
  padding-top: 10px;
  cursor: pointer;
}

.navbar .fas:hover {
  background-color: #fff;
  width: 14px;
  border-radius: 10px;
  color: blue;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #fff;
}

.navbar .far:hover {
  background-color: #fff;
  width: 14px;
  border-radius: 12px;
  color: blue;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #fff;
}

.logo {
  margin-bottom: 5rem;
  padding-left: 10px;
}

.fa-user-circle {
  font-size: 30px;
  color: #fff;
}

.fa-toggle-on {
  font-size: 13px;
  color: #fff;
}

.bottom-toggle {
  margin-top: 9rem;
}
.react-tooltip-lite {
  background: #333;
  color: white;
  padding: 2px 4px;
  font-size: 12px;
}

.react-tooltip-lite-arrow {
  border-color: #333;
}
.more-icon {
  padding-left: 6px;
}

.more-icon .fa-ellipsis-v {
  font-size: 18px;
}
.btn-basic {
  background-color: unset;
  border-style: none;
}
.btn-basic:focus {
  outline: none;
}
.dropdown-menu {
  border: 1px solid #cdc;
  display: inline-grid;
  background-color: #fff;
  padding: 12px;
}
.dropdown-item {
  text-align: left;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 18px;
}
.active {
  border-left: 4px solid #fff;
  border-right: none;
  border-top: 5px solid transparent;
  border-bottom: 50px solid transparent;
  border-bottom: 7px solid transparent;
  width: 0px;
  height: 14px;
}
.fa-ellipsis-h{
  font-size: 16px;
}